/* Scyfin-mod Extras */

/* BW Logo */
.pageTitleWithDefaultLogo {
    background-image: url("https://cdn2.steamgriddb.com/logo/3f44f3018ff71ff4a7d22a98f3babb55.png");
}

/* Inactive Header text color */
 .emby-button > .emby-button-foreground {
     color: grey;
     transition: color 0.2s ease
 }
 /* Active Header text color */
 .emby-tab-button-active > .emby-button-foreground {
     color: var(--primary-accent-color); 
     transition: color 0.2s ease   
 }
 /* Hover effect for Header tabs */
 .emby-button:hover > .emby-button-foreground {
     color: var(--primary-alt6);
     transition: color 0.2s ease
 }
 
/* Squared Dark/Transparent Episode, Version indicators */
.playedIndicator {
    border-radius: 0 !important; /* Remove rounding */
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    background: #00000085 !important;
}
.indicator {
    border-radius: 0 !important; /* Ensure any other indicators are also square */
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    background: #00000085 !important;
}
.lazy-image-fadein-fast.non-blurhashable.lazy.itemAction.listItemImage-large.listItemImage > .mediaSourceIndicator {
     border-radius: 0 !important;
     background: #00000085 !important;
 }
 .mediaSourceIndicator {
     border-radius: 0 !important;
     background: #00000085 !important;
 }

/* Outline Cards on Hover */
div.card-withuserdata.card-hoverable.card:hover > .cardBox-bottompadded.cardBox > .cardScalable,
div.groupedCard.card-hoverable.overflowSquareCard.card:hover > .cardBox-bottompadded.cardBox > .cardScalable,
div.card-hoverable.squareCard.card:hover > .cardBox-bottompadded.cardBox > .cardScalable {
    border: 2px solid var(--primary-accent-color) !important;
    box-shadow: 0 0 3px rgba(255, 255, 255, .5) !important;
}

/* Dim image on hover for all portrait, square, and music page square cards */
div.card-withuserdata.card-hoverable.card:hover > .cardBox-bottompadded.cardBox > .cardScalable::before,
div.groupedCard.card-hoverable.overflowSquareCard.card:hover > .cardBox-bottompadded.cardBox > .cardScalable::before,
div.card-hoverable.squareCard.card:hover > .cardBox-bottompadded.cardBox > .cardScalable::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(31, 31, 31, 0.4);
    z-index: -1;
}

/* Additional styles for all cards */
div.card-withuserdata.card-hoverable.card,
div.groupedCard.card-hoverable.overflowSquareCard.card,
div.card-hoverable.squareCard.card {
    position: relative;
}


/* Styles for all home library buttons */
a.emby-button.homeLibraryButton.raised {
    position: relative;
    transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
 
}

/* Styles for all home library buttons */
a.emby-button.homeLibraryButton.raised {
    position: relative;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Styles for hover effect */
a.emby-button.homeLibraryButton.raised:hover {
    border-color: var(--primary-accent-color) !important;
    box-shadow: var(--primary-accent-color) !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Dim effect for the button when hovered */
a.emby-button.homeLibraryButton.raised:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(31, 31, 31, 0.2);
    z-index: 1;
    transition: background-color 0.1s ease;
}

/*TV Guide Settings*/
.lazy-image-fadein-fast.non-blurhashable.lazy.guideChannelImage {
    transition: filter 0.1s ease;
    z-index: 1;
}

.lazy-image-fadein-fast.non-blurhashable.lazy.guideChannelImage:hover {
    filter: drop-shadow(0 0 6px #676767); 
}

.programCell-active.itemAction.programCell:hover .guideProgramName > .guideProgramNameText {
    transition: text-shadow 0.2s ease; 
    text-shadow: 
        0 0 2px var(--primary-accent-color); 
}
.channelsContainer button.itemAction.guide-channelHeaderCell:hover {
    background-color: var(--primary-accent-color) !important; 
}
.channelsContainer button.itemAction.guide-channelHeaderCell.selected {
    background-color: var(--primary-accent-color) !important; 
}


/* Hide Next Up */
div.nextUpSection {
  display: none;
}

/* Smaller Cast and Crew Section */
#castContent .card.overflowPortraitCard {
    width: 10%; 
}

/*Hide Upcoming on TV */
#seriesScheduleList  {
    display: none !important; /* Hide the Upcoming on TV section */
}
#seriesScheduleSection  {
    display: none !important; /* Hide the Upcoming on TV text */
}
